.upost{
    width: 385px;
    margin: 0px 25px 40px 25px;
}
.upostImg{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 7px;
    
}
.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postcat{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 11px;
    color: #be9656;
    line-height: 20px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}
.postTitle{
    font-family: serif;
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
}
.postdtae{
    font-style: italic;
    font-size: 13px;
    margin-top: 10px;
}
.postdep{
    font-size: 14px;
    color: #444;
    line-height: 15px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}